body{
    font-family: arial;
    background: #b2bec3;
    padding:0;
    margin: 0;
}

.bg_color_1{
    background-color: #F0F9CC !important;
}
.text_color_1{
    color: darkcyan;
}

.card_main{
    background-color:#D9EDF7;
}
